label, input {
    display: block;
}

input {
    margin-bottom: 5pt;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#new-task {
    width: 200pt;
    padding: 10pt;
    border: 1px solid lightgrey;
    border-radius: 5pt;
    position: absolute;
    right: 0;
    left: 0;
    top: 100pt;
    margin-inline: auto;
    background-color: white;

}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

input {
    border: none;
    margin: 5pt;
}

input:focus {
    outline: none;
}

.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Game elements */

#game-view {
    height: 500px;
    width: 800px;
    box-sizing: border-box;
    background-color: red;
    
}

#drip-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

#cup {
    width: 100px;
    height: 100px;
    background-color: grey;
}

#drip {
    width: 100px;
    height: 100px;
    background-color: blue;

}

#hole {
    width: 100px;
    height: 100px;
    background-color: black;

}