label, input {
    display: block;
}

input {
    margin-bottom: 5pt;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#new-task {
    width: 200pt;
    padding: 10pt;
    border: 1px solid lightgrey;
    border-radius: 5pt;
    position: absolute;
    right: 0;
    left: 0;
    top: 100pt;
    margin-inline: auto;
}

#game-view {
    height: 500pt;
    width: 100%;
    box-sizing: border-box;
}

input {
    border: none;
    margin: 5pt;
}

input:focus {
    outline: none;
}

.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
  