label, input {
    display: block;
}

input {
    margin-bottom: 5pt;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    width: 200pt;
    padding: 10pt;
    border: 1px solid lightgrey;
    border-radius: 5pt;
    position: absolute;
    right: 0;
    left: 0;
    top: 100pt;
    margin-inline: auto;
    background-color: white;
    z-index: 2;
}

input {
    border: none;
    margin: 5pt;
}

input:focus {
    outline: none;
}

.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Game elements */

#game-view {
    height: 500px;
    width: 800px;
    box-sizing: border-box;
    background-color: red;
    margin: 100px auto auto auto;
    position: relative;

}

#drip-column {
    position: relative;
    height: 100%;
}

#jar-stack {
    position: absolute;
    display: flex;
    background-color: greenyellow;
    gap: 5px;
    bottom: 0;
    left: 350px;
}

.jar {
    background-color: grey;
}

#current-jar, .jar {
    width: 100px;
    height: 100px;
    position: absolute;
}

#current-jar {
    bottom: 0;
    left: 350px;
}

#jar-stack {
    position: absolute;
    display: flex;
    background-color: greenyellow;
    gap: 5px;
    bottom: 0;
}


#water {
    position: absolute;
    bottom: 0;
    left: 350px;
    height: 0;
    width: 100px;
    overflow: hidden;
}

#water-color {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100px;
}

.drip {
    width: 10px;
    position: absolute;
}

#completed-tasks-temp {
    width: 800px;
    margin: auto;
}

